
<!--HTML is the standard markup language for creating Web pages
HTML stands for Hyper Text Markup Language
HTML describes the structure of Web pages using markup-->

<!--************************************************************************************
    @purpose: HTML file for designing login page
    
    @author : Sheetal Chaudhari

    @date   : 13/01/2019
***************************************************************************************-->

<!--<form name="form" [formGroup]="formdata">-->

  <div class="container">
   
    <!--Image code-->
    <div style="text-align:center">
      <img width="135" alt="FundoLogo" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/b5993922679119.56316a0ca4a90.png">
    </div>

    <!--Head Title-->
    <h3>Create your Account</h3>

    <!--Form body-->

    <div class="excontainer">

      <!--Firstname-->
      <mat-form-field>

        <input matInput placeholder="Enter First Name" name="firstname" [(ngModel)]="model.firstName" required>
        <mat-error *ngIf="firstName.invalid">{{getErrorFirst()}}</mat-error>

      </mat-form-field>


      <!--lastname-->
      <mat-form-field>

        <input matInput placeholder="Enter Last Name" name="lastname" [(ngModel)]="model.lastName" required>
        <mat-error *ngIf="lastName.invalid">{{getErrorLast()}}</mat-error>

      </mat-form-field>



      <!--MailId-->
      <mat-form-field>

        <input matInput placeholder="Enter Email" [(ngModel)]="model.email" name="email" [(ngModel)]="model.email" [formControl]="email" pattern="^[a-z0-9](\.?[a-z0-9]){5,}@g(oogle)?mail\.com$" required>
        <mat-error *ngIf="email.invalid">{{getErrorEmail()}}</mat-error>

      </mat-form-field>

      <!--Password-->
      <mat-form-field>

        <input matInput placeholder="Password" name="password" [(ngModel)]="model.password" minlength="8" [type]="hide ? 'password' : 'text'"
          [formControl]="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}$"
          required>
        <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

      </mat-form-field>

      <!--confirm password-->
      <mat-form-field>

        <input matInput placeholder="Confirm Password" [(ngModel)]="model.confirmPassword" [type]="hide ? 'password' : 'text'" name="confirmpassword"
          minlength="8" [formControl]="confirmPassword" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}$"
          required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="confirmPassword != password">{{getErrorMessageConfirmPassword()}}</mat-error>

      </mat-form-field>

      <!--Button-->
      <div class="button">

        <!--<button mat-button color="primary" class="button" type="submit" method="post" (click)="registration()"  [disabled]="!form.valid"><b>Submit</b></button>
        <button mat-button color="primary" class="button" type="submit" method="post" (click)="cancel()"><b>Cancel</b></button>-->
        <button mat-button color="primary" class="button" type="submit" method="post"
        (click)="registration()"><b>Submit</b></button>
        <button mat-button color="primary" class="button" type="submit" method="post" (click)="cancel()"><b>Cancel</b></button>
      
      </div>
      
     <!--excontainer Ends-->
    </div>
    <!--container Ends-->
  </div>
  