
<!--************************************************************************************
    @purpose: HTML file for designing login page
    
    @author : Sheetal Chaudhari

    @version: 7.2.1

    @date   : 13/01/2019
***************************************************************************************-->


<!--HTML is the standard markup language for creating Web pages
HTML stands for Hyper Text Markup Language
HTML describes the structure of Web pages using markup-->

<!--div class="container"-->


<div class="container">

    <div style="text-align:center">
           <img width="150" alt="FundoLogo" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/b5993922679119.56316a0ca4a90.png">
    </div>

    <h3> Hii User, Welcome!!</h3>
   
    <div class="excontainer">
        
        <mat-form-field>
            <input class="email" (ngModel)="email" matInput placeholder="Enter Email Id" [formControl]="email"
            pattern="[^ @]*@[^ @]*" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>
    
    </div>


    <div class="excontainer">
        
        <mat-form-field>
            
            <input matInput placeholder="Enter your password" [formControl]="password" 
            [(ngModel)]="model.password" [type]="hide ? 'password' : 'text'"
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}$" required>
            <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

    </div>
   
    <button mat-button color="primary" class="button" type="submit" (click)="login()"><b>Login</b></button>
    
    <button mat-button color="primary" class="button" type="submit" (click)="registration()"><b>Register</b></button>
</div>
